<div class="modal-header" [ngStyle]="styles.headerStyles">
  <button type="button" class="close" aria-label="Fermer" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form id="time_schedule_form" [formGroup]="tsForm" (ngSubmit)="onSubmit()" #scheduleForm="ngForm"
      [class.submitted]="submitted" [ngClass]="styles.wrapperClass" [ngStyle]="styles.mainStyles">
  <div class="modal-body">
    <div *ngIf="timeSchedule && !(deleting && saveComplete)">
      <div class="row">
        <div class="col-sm-8">
          <h2 class="h4">{{title}}</h2>
          <h3 class="h5 m-0">{{subtitle}}</h3>
          <p class="m-0 standalone_hidden"><em>{{updateLabel(timeSchedule)}}</em></p>
        </div>
        <div class="col-sm-4 text-right">
          <button class="btn btn-sm btn-link" [ngStyle]="styles.linkStyles" type="button" (click)="toggleAll(false)"><i class="fapi fapi-plus"></i>&nbsp;Détails</button>
          <button class="btn btn-sm btn-link" [ngStyle]="styles.linkStyles" type="button" (click)="toggleAll(true)"><i class="fapi fapi-minus"></i>&nbsp;Réduire</button>
        </div>
      </div>
      <hr/>
      <div formArrayName="timePeriods" class="mt-3">
        <div *ngFor="let tp of timePeriods.controls; let i = index" class="time-period">
          <apidate-time-period [tpForm]="tp" [externalType]="timeSchedule.externalType" [rank]="i" [config]="config" (removed)="removeTimePeriod(i)"
                               (cloned)="addTimePeriod(i, tp.value)"></apidate-time-period>
        </div>
      </div>
      <p *ngIf="timePeriods.controls.length === 0" class="text-center mt-4 mb-4">
        Aucune période saisie pour le moment.
      </p>
      <div class="text-right mt-3">
        <button class="btn btn-secondary" type="button" (click)="addTimePeriod(timePeriods.controls.length)">Ajouter un type d'horaire</button>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <ngb-alert *ngIf="submitted && saveComplete" type="success" (close)="closeForm()">La saisie a bien été {{deleting ? 'supprimée' : 'enregistrée'}}.</ngb-alert>
    <ngb-alert *ngIf="submitted && saveFailed" type="danger" (close)="dismissAlert()">Une erreur s'est produite lors de {{deleting ? "la suppression" : "l'enregistrement"}} de la saisie.</ngb-alert>
    <ngb-alert *ngIf="deleting && !submitted" type="warning" [dismissible]="false">
      <div class="row">
        <div class="col-sm-6 text-left m-auto">
          Supprimer définitivement la saisie ?
        </div>
        <div class="col-sm-6 text-right delete_buttons">
          <button type="button" class="btn btn-danger text-white" (click)="submitDeletion()">Supprimer</button>
          <button type="button" class="btn btn-outline-dark" (click)="dismissAlert()">Annuler</button>
        </div>
      </div>
    </ngb-alert>
    <ng-container *ngIf="!saveComplete && !saveFailed && !deleting">
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('cancel')">Annuler</button>
      <button type="button" class="btn btn-danger text-white" (click)="confirmDeletion()">Supprimer</button>
      <button class="btn" [ngStyle]="styles.altStyles" type="submit">Valider</button>
    </ng-container>
  </div>
</form>


