<h3 class="mt-4 mb-1">Gestion des types objets</h3>
<div *ngIf="config">
  <h5 class="m-0 font-weight-light">{{config.description}}</h5>
  <form id="config_form" [formGroup]="configForm" (ngSubmit)="onSubmit()" class="mb-4">
    <div formArrayName="externalTypes" class="mt-3">
      <div *ngFor="let tp of externalTypes.controls; let i = index" class="card mt-4">
        <div class="card-header bg-primary" [class.collapsed_header]="collapsed[i]">
          <div class="row align-items-center">
            <div class="btn-group col-sm-1 pr-0">
              <button type="button" class="btn btn-primary text-white" (click)="collapsed[i] = !collapsed[i]"
                      [attr.aria-expanded]="!collapsed[i]" [attr.aria-controls]="'collapseObjectType-' + i">
                <i class="fapi fapi-lg {{collapsed[i] ? 'fapi-plus-square-o' : 'fapi-minus-square-o'}}"></i>
              </button>
            </div>
            <p *ngIf="collapsed[i]" class="tp_text col-sm-9 text-white m-0">
              {{tp.get('description').value}}
            </p>
          </div>
        </div>
        <div id="collapseObject-{{i}}" [ngbCollapse]="collapsed[i]" [formGroup]="tp" class="form-group mb-0 card-body">
          <div class="row">
            <div class="form-group col-sm-6">
              <label for="tp-desc-{{i}}" class="font-weight-bold">Nom<sup>*</sup></label>
              <input type="text" class="form-control" formControlName="description" id="tp-desc-{{i}}" aria-describedby="descHelp" placeholder="Ex : Patrimoine culturel, Activité...">
              <small id="descHelp" class="form-text text-muted">Nom courant pour l'usage du type d'entité (interne à l'application).</small>
            </div>
            <div class="form-group col-sm-6">
              <label for="tp-ref-{{i}}" class="font-weight-bold">Référence<sup>*</sup></label>
              <input type="text" class="form-control" formControlName="reference" id="tp-ref-{{i}}" aria-describedby="refHelp" placeholder="Ex : PATRIMOINE_CULTUREL, ACTIVITE...">
              <small id="refHelp" class="form-text text-muted">Clé permettant d'identifier le type d'entité lorsqu'il est transmis par des systèmes tiers.</small>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12 mb-0">
              <label class="font-weight-bold">Types d'horaires</label><br/>
              <label  *ngFor="let tpt of config.timePeriodsTypes;" class="btn-outline-primary btn-block" ngbButtonLabel>
                <input type="checkbox" [formControl]="tp.get('timePeriodsTypes').get(tpt.reference)" ngbButton>{{tpt.description}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p *ngIf="externalTypes.controls.length === 0" class="text-center mt-4 mb-4">
      Aucun type objet saisi pour le moment.
    </p>
    <div class="text-right mt-3">
      <button class="btn btn-secondary" type="button" (click)="addExternalType(externalTypes.controls.length)">
        Ajouter un type objet
      </button>
    </div>
    <hr class="my-4"/>
    <ngb-alert *ngIf="submitted && saveComplete" type="success" (close)="dismissAlert()">La saisie a bien été enregistrée.</ngb-alert>
    <ngb-alert *ngIf="submitted && saveFailed" type="danger" (close)="dismissAlert()">Une erreur s'est produite lors de l'enregistrement de la saisie.</ngb-alert>
    <div class="text-right">
      <a class="btn btn-outline-dark" routerLink="/config">Retour</a>
      <button class="btn btn-primary text-white" type="submit">Valider</button>
    </div>
  </form>
</div>

